.accordion {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 60px;
  margin-top: 93px;
  list-style: none;

  &__item {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__button {
    position: relative;
    width: 100%;
    padding: 26px 108px 26px 40px;
    background: linear-gradient(90deg, #3E3E3E 0%, #232323 100%);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    stroke: #ffffff;
    stroke-width: 5px;
    stroke-linecap: round;
    transition: all 0.2s ease-out;
  }

  &__content {
    max-height: 0;      // animation
    opacity: 0;         // animation
    overflow: hidden;   // animation
    will-change: max-height;
    margin: 0 40px;
    padding: 0 40px;
    background: #e1e1e1;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all 0.2s ease-out;
    box-sizing: content-box;
  }
}

.open {
  .accordion {
    &__content {
      opacity: 1;
      padding: 35px 40px;
    }

    &__icon {
      transform: translateY(-50%) rotate(45deg);
    }
  }
}
