.card {
  padding: 22px 61px 34px;
  background: #e1e1e1;
  border-radius: 11px;
  color: #4b4b4b;

  &__title {
    margin: 0;
    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    margin-top: 22px;
    list-style: none;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &__item {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    &:not(:first-child) {
      margin-top: 22px;
    }
  }
}
