.footer {
  position: relative;
  z-index: 15;
  width: 100%;
  margin-top: -65px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1360px;
  }

  &__logo {
    width: 156px;
    height: 41px;
    background-image: none;
  }

  &__like {
    display: inline-flex;
    align-items: center;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.03em;

    span {
      display: inline-block;
      width: 17px;
      height: 17px;
      margin: 0 7px;
      background-image: url("../img/like.svg");
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
  }

  &__copyright-link {
    color: inherit;
  }
}
