.header {
  position: absolute;
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 859px;

    @media (max-width: 768px) {
      padding: 0 10px;
    }
  }

  &__logo {
    margin: 0 10px;

    @media (max-width: 768px) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__descr {
    display: inline-block;
    margin: 0;
    max-width: 220px;
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 16px;

    @media (max-width: 768px) {
      display: none;
    }

    &--name {
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
    }

    &--pdd {
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
    }
  }

  &__begin-date {
    display: inline-block;
    margin: 0;
    text-align: center;
    letter-spacing: 0.03em;

    @media (max-width: 768px) {
      line-height: 3px;
      text-align: right;
    }

    &--date {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;

      @media (max-width: 768px) {
        font-size: 9px;
        line-height: 11px;
      }
    }

    &--text {
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;

      @media (max-width: 768px) {
        font-size: 6px;
        line-height: 7px;
      }
    }
  }
}
