.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  height: 114px;
  background-image: url("../img/bg-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 768px) {
    min-width: 122px;
    height: 45px;
  }

  &__image {
    width: 201.75px;
    height: 52.19px;

    @media (max-width: 768px) {
      width: 88.18px;
      height: auto;
    }
  }
}
