.modal {
  --transition-time: 0.3s;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-time), visibility var(--transition-time);

  &__container {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    max-width: 607px;
    margin: 50px auto;
    padding: 50px 73px 58px;
    background: #FFFFFF;
    border-radius: 15px;
    color: #383838;
    cursor: default;
  }

  &__title {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__descr {
    margin: 0;
    margin-top: 9px;
    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }

  &__text {
    max-width: 397px;
    margin: 0;
    margin-top: 30px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-top: 43px;
  }

  &__form-label {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__form-input {
    margin-top: 6px;
    padding: 17px 16px;
    background: #efefef;
    border: none;
    border-radius: 10px;

    &:focus {
      outline: 2px solid rgba(56, 56, 56, 0.4);
    }

    &::placeholder {
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #A4A4A4;
    }
  }

  &__form-btn {
    order: 5;
    margin-top: 50px;
    align-self: center;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  &__icon {
    width: 28px;
    height: 28px;
    stroke: #383838;
    stroke-width: 5px;
    stroke-linecap: round;
    transform: rotate(45deg);
  }
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
  display: flex;
}

.fade {
  opacity: 0;
  transition: opacity var(--transition-time);
}

.fade.animate-open {
  opacity: 1;
  transition: opacity var(--transition-time);
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

// ошибки валидации полей формы
.just-validate-error-label {
  margin-top: 10px;
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: tomato;
}

.just-validate-error-field {
  border: 1px solid tomato;

  &:focus {
    outline: none;
  }
}
