.promo-price {
  position: relative;
  margin-left: 91px;
  max-width: 175px;
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 15px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -45px;
    left: -80px;
    width: 118px;
    height: 23px;
    background-image: url("../img/arrow.svg");

    @media (max-width: 768px) {
      bottom: 11px;
      left: -73px;
      width: 62px;
      height: 46px;
      background-image: url("../img/arrow-2.svg");
    }
  }

  &__price {
    position: absolute;
    top: -30px;
    right: -60px;
    padding: 7px 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    border: 0.5px solid #FFFFFF;
    border-radius: 22px;
    transform: rotate(21.64deg);

    @media (max-width: 768px) {
      top: -21px;
      right: -6px;
      padding: 5px 10px;
      font-size: 9px;
      line-height: 10px;
      border-radius: 14px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 60px;
      height: 2px;
      background-color: #ff0000;

      @media (max-width: 768px) {
        width: 41px;
        height: 1px;
      }
    }
  }
}
