.promo {
  font-family: 'Montserrat';
  font-style: normal;
  background-image: url("../img/bg-promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    margin: 0 auto;
    padding: 0 60px;
    padding-top: 180px;
    max-width: 1335px;
    min-height: 807px;
    background-image: url("../img/bg-girl.png");
    background-repeat: no-repeat;
    background-position: bottom -55px right -90px;
  }

  &__title {
    margin: 0;
    max-width: 830px;
    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &--second {
      font-weight: 300;
    }

    &--third {
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      vertical-align: top;
    }

    &--fourth {
      font-weight: 600;
    }
  }

  &__remark-container {
    position: relative;
    z-index: 1;
    margin-top: 53px;
    padding: 16px 25px;
    width: 296px;
    height: 70px;
  }

  &__remark-decorative {
    position: absolute;
    top: -15px;
    left: -55px;
    width: 104px;
    height: 104px;
    background-image: url("../img/bg-remark-konus.png");
    background-repeat: no-repeat;
    transform: rotate(30.41deg);
  }

  &__remark {
    margin: 0;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 296px;
      height: 70px;
      background: linear-gradient(89.85deg, rgba(147, 208, 252, 0.3) 0.1%, rgba(210, 166, 255, 0.3) 95.31%);
      box-shadow: inset 0px 0px 9px rgba(255, 255, 255, 0.35);
      backdrop-filter: blur(7px);
      border-radius: 3px;
      transform: skew(-15deg);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 296px;
      height: 70px;
      background: radial-gradient(103.66% 103.66% at 50% 50%, #93D0FC 0%, rgba(147, 208, 252, 0.63) 100%);
      opacity: 0.8;
      filter: blur(30px);
      border-radius: 6px;
      transform: skew(-15deg);
    }
  }

  &__involvement {
    display: flex;
    align-items: center;
    margin-top: 70px;
  }

  &__btn {
    z-index: 30;
  }
}
