<section class="about">
  <div class="about__container">
    <h2 class="about__title">Узнай о нас<br><span class="about__title about__title--more">немного больше...</span></h2>
    <div class="video about__video">
      <a href="#" class="video__link" aria-label="Ссылка на видео о AutoOnline">
        <svg class="video__svg video__svg--arrow" with="27" height="27">
          <use xlink:href="img/sprite.svg#btn-video-arrow"></use>
        </svg>
        <svg class="video__svg video__svg--border" with="97" height="97">
          <use xlink:href="img/sprite.svg#btn-video-border"></use>
        </svg>
        <svg class="video__svg video__svg--circle" with="60" height="60">
          <use xlink:href="img/sprite.svg#btn-video-circle"></use>
        </svg>
        <svg class="video__svg video__svg--stroke" with="60" height="60">
          <use xlink:href="img/sprite.svg#btn-video-circle"></use>
        </svg>
      </a>
      <span class="video__watch">Смотри видео о &#65282;AutoOnline&#65282;</span>
    </div>
    <article class="about__us">
      <b>Автошкола "AutoOnline" основана в 2017 году Кайратом и Асылжаном.</b>
      <p>Они создали <strong>первый в Казахстане</strong> сервис для онлайн обучения в автошколе. Это позволило тысячам
        Казахстанцев дистанционно изучить ПДД, а затем получить свидетельство автошколы.</p>
      <b>В 2021 году "AutoOnline" становится не просто автошколой,</b>
      <p>а <strong>сервисом для обучения</strong> всех курсантов из других автошкол. За первые 4 месяца 2022 года, более
        2000 Казахстанцев прошли обучение по новой программе 3D видео-уроков согласно изменениям ПДД.</p>
      <p>За весь период работы, нашим сервисом воспользовались <strong>более 100 000 человек со всего
          Казахстана.</strong></p>
    </article>
    <dl class="about__mission">
      <dt>Наша миссия:</dt>
      <dd>Модернизация сферы ПДД РК, создание безопасной среды дорожного движения, и изменение представления об обучении
        в автошколе.</dd>
      <svg class="about__mission-svg" with="612" height="217">
        <use xlink:href="img/sprite.svg#bg-mission-blur"></use>
      </svg>
    </dl>
  </div>
</section>
