<section class="action">
  <div class="action__container">
    <h2 class="action__title">Уже решили присоединиться?<span>жми кнопку и регистрируйся на марафон</span></h2>
    <article class="countdown action__countdown">
      <h3 class="countdown__title">Дата начала марафона <span date-of-marathon>20 мая</span> / 20:00, осталось:</h3>
      <div class="countdown__container">
        <span class="countdown__time countdown__time--hours">10</span>
        <span class="countdown__colon countdown__colon--first">:</span>
        <span class="countdown__time countdown__time--minutes">35</span>
        <span class="countdown__colon countdown__colon--second">:</span>
        <span class="countdown__time countdown__time--seconds">47</span>
        <span class="countdown__text countdown__text--hours">часов</span>
        <span class="countdown__text countdown__text--minutes">минут</span>
        <span class="countdown__text countdown__text--seconds">секунд</span>
      </div>
    </article>
    <div class="action__links">
      <a href="https://www.instagram.com/andreyosipchuk/" class="btn-inst" aria-label="Ссылка на наш профиль в инстаграме" target="_blank">
        <svg class="btn-inst__svg" with="29" height="29">
          <use xlink:href="img/sprite.svg#btn-inst-svg"></use>
        </svg>
      </a>
      <button type="button" class="btn action__btn" data-path="first" data-animation="fade" data-speed="300">
        <svg class="btn__svg btn__svg--second" with="228" height="63.64">
          <use xlink:href="img/sprite.svg#bg-btn"></use>
        </svg>
        <svg class="btn__svg btn__svg--first" with="228" height="63.64">
          <use xlink:href="img/sprite.svg#bg-btn"></use>
        </svg>
        <svg class="btn__svg btn__svg--blur" with="188.99" height="63.64">
          <use xlink:href="img/sprite.svg#bg-btn-blur"></use>
        </svg>
        <span class="btn__text">Участвовать</span>
      </button>
      <div class="promo-price action__promo">
        <span class="promo-price__descr">Участие в марафоне абсолютно <b>бесплатно</b></span>
        <span class="promo-price__price">15&nbsp;000₸</span>
      </div>
    </div>
  </div>
</section>
