<section class="faq">
  <div class="faq__container">
    <h2 class="faq__title">Остались вопросы?</h2>
    <span class="faq__descr">здесь ты найдёшь ответы</span>
    <ul class="accordion">
      <li class="accordion__item">
        <button type="button" class="accordion__button" aria-expanded="false">
          <span class="accordion__title">А Кто может быть участником марафона?</span>
          <svg class="accordion__icon">
            <use xlink:href="img/sprite.svg#btn-accordion"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">Участником марафона может быть любой гражданин РК достигший
          16 лет.</div>
      </li>
      <li class="accordion__item">
        <button type="button" class="accordion__button" aria-expanded="false">
          <span class="accordion__title">Сколько всего длится марафон?</span>
          <svg class="accordion__icon">
            <use xlink:href="img/sprite.svg#btn-accordion"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Sequi
          ipsam voluptatum ad at doloribus praesentium molestiae vel in, impedit omnis repellat voluptate ipsa aliquam,
          facilis nam provident, iure odio exercitationem!</div>
      </li>
      <li class="accordion__item">
        <button type="button" class="accordion__button" aria-expanded="false">
          <span class="accordion__title">Сколько стоит участие в марафоне?</span>
          <svg class="accordion__icon">
            <use xlink:href="img/sprite.svg#btn-accordion"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Excepturi minima modi nihil vitae, facilis</div>
      </li>
      <li class="accordion__item">
        <button type="button" class="accordion__button" aria-expanded="false">
          <span class="accordion__title">Что я получу от марафона?</span>
          <svg class="accordion__icon">
            <use xlink:href="img/sprite.svg#btn-accordion"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam
          omnis qui neque placeat veniam veritatis voluptatum accusantium esse reprehenderit! Possimus repellat totam
          aut
          quas nostrum dolorem, delectus esse voluptatum recusandae!</div>
      </li>
      <li class="accordion__item">
        <button type="button" class="accordion__button" aria-expanded="false">
          <span class="accordion__title">Как будет проводится марафон?</span>
          <svg class="accordion__icon">
            <use xlink:href="img/sprite.svg#btn-accordion"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, facilis deserunt! Hic fuga cumque quibusdam? Harum eum laboriosam mollitia distinctio
          doloremque,
          quibusdam adipisci impedit, quia et ut labore. Qui, placeat! Lorem ipsum dolor sit amet consectetur,
          adipisicing
          elit. Accusantium placeat omnis tenetur voluptatem consectetur expedita natus est pariatur necessitatibus,
          asperiores debitis ratione praesentium repellendus! At alias possimus maiores debitis itaque?</div>
      </li>
    </ul>
  </div>
</section>
