<footer class="footer">
  <div class="footer__container">
    <a href="#" class="logo footer__logo">
      <img loading="lazy" src="img/logo.svg" class="logo__image" width="201.75" height="52.19"
        alt="Авторский онлайн-марафон по ПДД Республики Казахстан">
    </a>
    <span class="footer__like">Made with <span></span> by AutoOnline</span>
    <div class="footer__copyright">
      <span>Все права защищены</span>
      <a href="#" class="footer__copyright-link">Политика конфендициальности</a>
    </div>
  </div>
</footer>
