<footer class="footer">
  <div class="footer__container">
    <a href="#" class="logo footer__logo">
      <img class="logo__image footer__logo-image" loading="lazy" src="img/logo.svg" width="201" height="52"
        alt="Авторский онлайн-марафон по ПДД Республики Казахстан">
    </a>
    <span class="footer__like">Made with <span></span> by AutoOnline</span>
    <div class="footer__copyright">
      <span>Все права защищены</span>
      <a href="#" class="footer__copyright-link">Политика конфендициальности</a>
    </div>
  </div>
</footer>
