<header class="header">
  <div class="header__container">
    <p class="header__descr">
      <span class="header__descr--name">Авторский онлайн-марафон</span>
      <span class="header__descr--pdd">по ПДД Республики Казахстан</span>
    </p>
    <a href="#" class="logo header__logo">
      <img loading="lazy" src="img/logo.svg" class="logo__image" width="201.75" height="52.19"
        alt="Авторский онлайн-марафон по ПДД Республики Казахстан">
    </a>
    <p class="header__begin-date">
      <span class="header__begin-date--date"><span date-of-marathon>20 мая</span>&nbsp;/&nbsp;20:00</span><br>
      <span class="header__begin-date--text">Начало марафона</span>
    </p>
  </div>
</header>
