<section class="modal">
  <div class="modal__container" data-target="first">
    <h2 class="modal__title">Регистрация на марафон</h2>
    <p class="modal__descr">Дата начала марафона <b><span date-of-marathon>20 мая</span> / 20:00</b></p>
    <p class="modal__text">Укажи свои данные в полях ниже и получи доступ к бесплатному <strong>7-ми дневному
        марафону</strong> от <i>Autoonline</i></p>
    <form class="modal__form" action="#" method="post" enctype="multipart/form-data" autocomplete="off">
      <label class="modal__form-label" for="name">Ваше имя</label>
      <input class="modal__form-input" type="text" data-validate-field="name" name="name" placeholder="Введите ваше имя..." id="name">
      <label class="modal__form-label" for="city">Откуда вы?</label>
      <input class="modal__form-input" type="text" data-validate-field="city" name="city" placeholder="Введите город..." id="city">
      <label class="modal__form-label" for="phone">Ваш телефон</label>
      <input class="modal__form-input" type="tel" data-validate-field="phone" name="phone" placeholder="+7 ..." id="phone">
      <label class="modal__form-label" for="email">Ваш e-mail</label>
      <input class="modal__form-input" type="email" data-validate-field="email" name="email" placeholder="email@mail.com" id="email">
      <button type="submit" class="btn modal__form-btn">
        <svg class="btn__svg btn__svg--second" with="228" height="63.64">
          <use xlink:href="img/sprite.svg#bg-btn"></use>
        </svg>
        <svg class="btn__svg btn__svg--first" with="228" height="63.64">
          <use xlink:href="img/sprite.svg#bg-btn"></use>
        </svg>
        <svg class="btn__svg btn__svg--blur" with="188.99" height="63.64">
          <use xlink:href="img/sprite.svg#bg-btn-blur"></use>
        </svg>
        <span class="btn__text">Зарегистрироваться</span>
      </button>
      <button type="button" class="modal-close">закрыть</button> <!--закрытие модального окна-->
    </form>
  </div>

</section>
