<section class="promo">
  <div class="promo__container">
    <h1 class="promo__title">Изучи ПДД за 7 дней
      <span class="promo__title--second">по понятным видео-урокам,</span>
      <span class="promo__title--third">и получи возможность <span class="promo__title--fourth">выиграть денежные
          призы</span></span>
    </h1>
    <div class="promo__remark-container">
      <p class="promo__remark">Обучение проходит онлайн в нашем сервисе видео-уроков.</p>
      <span class="promo__remark-decorative"></span>
    </div>
    <div class="promo__involvement">
      <button type="button" class="btn promo__btn">
        <svg class="btn__svg btn__svg--second" with="228" height="63.64">
          <use xlink:href="img/sprite.svg#bg-btn"></use>
        </svg>
        <svg class="btn__svg btn__svg--first" with="228" height="63.64">
          <use xlink:href="img/sprite.svg#bg-btn"></use>
        </svg>
        <svg class="btn__svg btn__svg--blur" with="188.99" height="63.64">
          <use xlink:href="img/sprite.svg#bg-btn-blur"></use>
        </svg>
        <span class="btn__text">Участвовать</span>
      </button>
      <div class="promo__free">
        <span class="promo__descr">Участие в марафоне абсолютно <b>бесплатно</b></span>
        <span class="promo__price">15&nbsp;000₸</span>
      </div>
    </div>
  </div>
</section>
