<section class="tasks">
  <div class="tasks__container">
    <h2 class="tasks__title">Выполняй задания на марафоне <span>и получи крупные денежные призы и подарки!</span></h2>
    <ol class="tasks__list">
      <li class="tasks__item tasks__item--1">
        <span class="tasks__item-number">01</span>
        <img loading="lazy" src="img/task-ellipse.svg" class="tasks__svg" width="223" height="17" alt="декоративный элемент">
        <p class="tasks__item-descr">Смотри каждый день видеоуроки на нашем сайте</p>
      </li>
      <li class="tasks__item tasks__item--2">
        <span class="tasks__item-number">02</span>
        <img loading="lazy" src="img/task-ellipse.svg" class="tasks__svg" width="223" height="17" alt="декоративный элемент">
        <p class="tasks__item-descr">Делай домашние задания&nbsp;и&nbsp;отправляй нам</p>
      </li>
      <li class="tasks__item tasks__item--3">
        <span class="tasks__item-number">03</span>
        <img loading="lazy" src="img/task-ellipse.svg" class="tasks__svg" width="223" height="17" alt="декоративный элемент">
        <p class="tasks__item-descr">Самые активные марафонцы получат крупные денежные призы и подарки</p>
      </li>
    </ol>
  </div>
</section>
